 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body {
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
  }

ul {
    margin-left: 1em;
}

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .mt-20 {
    margin-top: 20px;
  }
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

header{
    background-color: rgb(0, 140, 255);
    background-image: url(../img/pattern.png);
    background-size: 30%;
    color: white;
    margin: 0;
    width: 1100px;
    height: 120px;
}


h1 {
    font-size: 3em;
}


.text-small {
    font-size: 0.8em;
}

.text-blue {
    color: rgb(0, 179, 255);
}

.text-white {
    color: white;
}

.highlight {
    background-color: yellow;
}   

.bg-blue {
    background-color: rgb(6, 98, 204);
}

.odd {
    background-color: rgb(157, 249, 249);
}
#logo {
    padding-top: 50px;
}
#logo img {
    width: 200px;
}


.text-grey {
    color: rgb(119, 115, 115);
}


.w-50 {
    width: 50%;
}

table {
    border-collapse: collapse;
}

table td {
    padding: 5px;
}

footer .container div {
    color: white;
    width: 300px;
    height: 200px;
    background-image: url('../img/graph.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
}

footer h4 {
    font-size: 2em;
}

#monitor {
    background-image: url('../img/monitor.jpg');
}